@import url("https://use.typekit.net/yrm2sft.css");

:root {
  --purple1: #ae8094;
  --dark1: #202020;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: futura-pt, sans-serif;
  color: white;
  background-color: var(--dark1);
  margin-left: 2em;
  margin-right: 2em;
}

.navbar_left {
  font-family: mina, serif;
  text-align: center;
  font-size: 0.75em;
  color: var(--purple1);
}
.navbar_right {
  display: none;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: auto;
  width: 80%;
  margin: 2em;
}
.intro p {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
  max-width: 17em;
  margin-bottom: 2em;
}

.color {
  color: var(--purple1);
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
}
h1 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.about_me_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile_picture {
  height: auto;
  width: 80%;
  margin: 2em;
}
.about_me p {
  max-width: 20em;
  margin-bottom: 3em;
  font-size: 1em;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio_image {
  width: 100%;
  height: auto;
}
.view_button {
  display: none;
}
.view {
  display: none;
}
.view_link a {
  text-decoration: none;
  list-style-type: none;
  color: var(--purple1);
}
footer {
  width: 100% auto;
}
.contact p {
  text-align: center;
  font-size: 1em;
  margin: 1em;
  padding-bottom: 1em;
}

@media (min-width: 360px) {
  .navbar_left {
    font-family: mina, serif;
    text-align: center;
    font-size: 1em;
    color: var(--purple1);
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .logo {
    height: auto;
    width: 50%;
    margin: 5em 0 2em 0;
  }
  .intro p {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    text-align: center;
    max-width: 17em;
    margin-bottom: 2em;
  }

  .color {
    color: var(--purple1);
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
  }
  h1 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2.75em;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
  .about_me_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about_me_wrapper img {
    width: 60%;
    height: auto;
  }
  .wrapper_right {
    display: flex;
    justify-content: center;
  }
  .about_me p {
    max-width: 20em;
    margin-bottom: 3em;
    font-size: 1.25em;
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .portfolio_image {
    width: 100%;
    height: auto;
  }

  .view_link a {
    text-decoration: none;
    list-style-type: none;
    color: var(--purple1);
  }
  .view_button {
    display: none;
  }
  footer {
    width: 100% auto;
  }
  .contact p {
    text-align: center;
    font-size: 1.25em;
    margin: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 640px) {
  .navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: baseline;
    top: 0px;
    z-index: 5;
    background-color: var(--dark1);
  }
  .navbar_left {
    font-family: mina, serif;
    text-align: left;
    margin-top: 1em;
    font-size: 0.75em;
    color: var(--purple1);
  }
  .navbar_right {
    display: block;
  }
  li a {
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.08em;
    margin: 1em;
  }
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .navbar_right a:hover {
    color: var(--purple1);
    transition: 0.5s;
  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .logo {
    height: auto;
    width: 30%;
    margin-right: 1em;
  }
  .intro p {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6em;
    text-align: left;
    max-width: 17em;
    margin-bottom: 0;
  }

  .color {
    color: var(--purple1);
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
  }
  h1 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0.5em;
    margin-top: 1em;
  }
  .about_me_wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .about_me_wrapper img {
    height: auto;
    width: 90%;
  }
  .about_me p {
    max-width: 40em;
    font-size: 1em;
  }

  .portfolio_wrapper {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .portfolio_wrapper_left {
    position: relative;
  }

  .portfolio_wrapper_left:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_left:hover .view {
    opacity: 1;
  }

  .portfolio_wrapper_right {
    position: relative;
  }
  .portfolio_wrapper_right:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_right:hover .view {
    opacity: 1;
  }
  .view {
    transition: 0.6s ease-in;
    opacity: 0;
    display: block;
    text-align: center;
    font-family: novecento-sans-wide, sans-serif;
  }
  .view_button {
    background-color: transparent;
    display: block;
    border-radius: 2em;
    border-width: 0.25em;
    border-color: white;
    color: white;
    font-size: 0.5em;
    padding: 0.5em 1em;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .view h5 {
    color: white;
    font-size: 1em;
    top: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  footer {
    width: 100% auto;
  }
  .contact p {
    text-align: center;
    font-size: 1em;
    margin: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 768px) {
  body {
    margin-left: 3em;
    margin-right: 3em;
  }
  .navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: baseline;
    top: 0px;
    z-index: 5;
    background-color: var(--dark1);
  }
  .navbar_left {
    font-family: mina, serif;
    text-align: left;
    margin-top: 1em;
    font-size: 0.75em;
    color: var(--purple1);
  }
  .navbar_right {
    display: block;
  }
  li a {
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.3em;
    margin: 1em;
  }
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .navbar_right a:hover {
    color: var(--purple1);
    transition: 0.5s;
  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .logo {
    height: auto;
    width: 35%;
  }
  .intro p {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6em;
    text-align: left;
    max-width: 17em;
    margin-left: 2em;
  }

  .color {
    color: var(--purple1);
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
  }
  h1 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .about_me_wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .about_me_wrapper img {
    height: auto;
    width: 90%;
  }
  .about_me p {
    max-width: 30em;
    font-size: 1.2em;
  }

  .portfolio_wrapper {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .portfolio_wrapper_left {
    position: relative;
  }

  .portfolio_wrapper_left:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_left:hover .view {
    opacity: 1;
  }

  .portfolio_wrapper_right {
    position: relative;
  }
  .portfolio_wrapper_right:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_right:hover .view {
    opacity: 1;
  }
  .view {
    transition: 0.6s ease-in;
    opacity: 0;
    display: block;
    text-align: center;
    font-family: novecento-sans-wide, sans-serif;
  }
  .view_button {
    background-color: transparent;
    display: block;
    border-radius: 2em;
    border-width: 0.25em;
    border-color: white;
    color: white;
    font-size: 0.75em;
    padding: 0.5em 1em;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .view_button:hover {
    background-color: white;
    transition: all 0.5s ease-in-out;
    color: #202020;
  }
  .view h5 {
    color: white;
    font-size: 1.2em;
    top: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  footer {
    width: 100% auto;
  }
  .contact p {
    text-align: center;
    font-size: 1.2em;
    margin: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 1024px) {
  .navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: baseline;
    top: 0px;
    z-index: 5;
    background-color: var(--dark1);
  }
  .navbar_left {
    font-family: mina, serif;
    text-align: left;
    margin-top: 1em;
    font-size: 0.75em;
    color: var(--purple1);
  }
  .navbar_right {
    display: block;
  }
  li a {
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.2em;
    margin: 1em;
  }
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .navbar_right a:hover {
    color: var(--purple1);
    transition: 0.5s;
  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .logo {
    height: auto;
    width: 30%;
  }
  .intro p {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 2em;
    text-align: left;
    max-width: 17em;
  }

  .color {
    color: var(--purple1);
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
  }
  h1 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 3.9em;
    margin-top: 1em;
  }
  .about_me_wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  .about_me_wrapper img {
    height: auto;
    width: 100%;
    margin: 1em;
  }
  .about_me p {
    max-width: 40em;
    font-size: 1.4em;
    margin: 1em;
  }

  .portfolio_wrapper {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .portfolio_wrapper_left {
    position: relative;
  }

  .portfolio_wrapper_left:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_left:hover .view {
    opacity: 1;
  }

  .portfolio_wrapper_right {
    position: relative;
  }
  .portfolio_wrapper_right:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_right:hover .view {
    opacity: 1;
  }
  .view {
    transition: 0.6s ease-in;
    opacity: 0;
    display: block;
    text-align: center;
    font-family: novecento-sans-wide, sans-serif;
  }
  .view_button {
    background-color: transparent;
    display: block;
    border-radius: 2em;
    border-width: 0.25em;
    border-color: white;
    color: white;
    font-size: 0.9em;
    padding: 0.5em 1em;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    cursor: pointer;
  }
  .view_button:hover {
    background-color: white;
    transition: all 0.5s ease-in-out;
    color: #202020;
  }
  .view h5 {
    color: white;
    font-size: 1.8em;
    top: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  footer {
    width: 100% auto;
  }
  .contact p {
    text-align: center;
    font-size: 1.4em;
    margin: 1em;
    padding-bottom: 1em;
  }
}
@media (min-width: 1536px) {
  .navbar {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: baseline;
    top: 0px;
    z-index: 5;
    background-color: var(--dark1);
  }
  .navbar_left {
    font-family: mina, serif;
    text-align: left;
    margin-top: 1em;
    font-size: 1em;
    color: var(--purple1);
  }

  li a {
    color: white;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5em;
    margin: 1em;
  }
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  .navbar_right a:hover {
    color: var(--purple1);
    transition: 0.5s;
  }
  .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120vh;
  }

  .logo {
    height: auto;
    width: 30%;
  }
  .intro p {
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    text-align: left;
    max-width: 17em;
  }

  .color {
    color: var(--purple1);
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25em;
  }
  h1 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 5em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .about_me_wrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  .about_me_wrapper img {
    height: auto;
    width: 90%;
  }
  .about_me p {
    max-width: 30em;
    font-size: 2.1em;
  }

  .portfolio_wrapper {
    display: flex;

    justify-content: center;
    align-items: center;
  }
  .portfolio_wrapper_left {
    position: relative;
  }

  .portfolio_wrapper_left:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_left:hover .view {
    opacity: 1;
  }

  .portfolio_wrapper_right {
    position: relative;
  }
  .portfolio_wrapper_right:hover img {
    opacity: 0.2;
  }

  .portfolio_wrapper_right:hover .view {
    opacity: 1;
  }
  .view {
    transition: 0.6s ease-in;
    opacity: 0;
    display: block;
    text-align: center;
    font-family: novecento-sans-wide, sans-serif;
  }
  .view_button {
    background-color: transparent;
    display: block;
    border-radius: 2em;
    border-width: 0.25em;
    border-color: white;
    color: white;
    font-size: 1.4em;
    padding: 0.5em 1em;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .view_button:hover {
    background-color: white;
    transition: all 0.5s ease-in-out;
    color: #202020;
  }
  .view h5 {
    color: white;
    font-size: 2em;
    top: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  footer {
    width: 100% auto;
  }
  .contact p {
    text-align: center;
    font-size: 2.1em;
    margin: 1em;
    padding-bottom: 1em;
  }
}
