@import url("https://use.typekit.net/yrm2sft.css");

:root {
  --pink: #ae8094;
  --black: #202020;
}

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: futura-pt, sans-serif;
  color: white;
  background-color: var(--black);
  margin-left: 2em;
  margin-right: 2em;
}

.navbar_left {
  font-family: mina, serif;
  text-align: center;
  font-size: 0.75em;
  color: var(--pink);
}
.navbar_right {
  display: none;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35em;
}

.logo {
  height: auto;
  width: 80%;
  margin: 2em;
}
.intro p {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
  max-width: 17em;
  margin-bottom: 2em;
}

.color {
  color: var(--pink);
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
}

.about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}
.profile_picture {
  height: auto;
  width: 80%;
}
.about_me p {
  max-width: 20em;
  margin: 1em 0 3em 0;
  font-size: 1em;
}

.portfolio {
  display: block;
  align-items: center;
}
.portfolio_image {
  width: 100%;
  height: auto;
}
.view_link {
  align-items: center;
  justify-content: center;
}
.view_link a {
  text-decoration: none;
  list-style-type: none;
  color: var(--pink);
}
footer {
  height: 3em;
  width: 100% auto;
}
.contact p {
  text-align: center;
  font-size: 1em;
  margin: 1em;

  padding-bottom: 1em;
}

@media (min-width: 360px) {
}
@media (min-width: 640px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1536px) {
}
