@import url('https://use.typekit.net/yrm2sft.css');

body {
  font-family: futura-pt, sans-serif;
  color: white;
  background-color: #202020;
}

.header {
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: #202020;
}
.navbar_left {
  font-family: mina, serif;
  text-align: left;
  font-size: 1em;
  white-space: nowrap;
  margin-left: 6em;
  color: #ae8094;
}
.navbar_right {
  margin-right: 6em;
}
li a {
  color: white;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.5em;
  margin: 1.5em;
}
ul {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.navbar_right a:hover {
  color: #ae8094;
}

h1 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 100px;
  margin-top: 50px;
  margin-bottom: 0px;
}
h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #ae8094;
}
#introduction {
  font-size: 40px;
}
h4 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 45px;
  margin-bottom: 0px;
  color: #ae8094;
}
p {
  text-align: left;
  font-size: 30px;
  max-width: 90%;
  max-width: 1000px;
  min-width: 500px;
}

.work_wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 900px;
  width: 100% auto;
  background-color: #202020;
  align-items: center;
}
.work_wrapper_main {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 600px;
  width: 100% auto;
  background-color: #202020;
  align-items: center;
}
#dog {
  margin-right: 140px;
}

.work_wrapper_left {
  margin-left: 140px;
}
.work_wrapper_right {
  margin-right: 140px;
  margin-left: 50px;
}

.lofi {
  margin-right: 40px;
}
.problem {
  margin: 140px;
}

.project_selection_wrapper {
  display: flex;
  justify-content: space-between;
}
.project_selection {
  color: white;
  font-size: 30px;
  font-family: novecento-sans-wide, sans-serif;
  margin-left: 140px;
  margin-right: 140px;
}
.project_selection_link a {
  text-decoration: none;
  list-style-type: none;
}

.project_selection:hover {
  color: #ae8094;
}

footer {
  height: 250px;
  width: 100% auto;
}
.contact h3 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  color: white;
}
#contact_info {
  text-align: center;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}
